<div class="spinner-container" *ngIf="!dataLoaded">
  <mat-spinner></mat-spinner>
  <p>Data is coming, Please Wait!!!</p>
</div>

<mat-tree *ngIf="dataLoaded" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <mat-icon class="file-icon">insert_drive_file</mat-icon>
    {{ node.name }} ({{ node.size }} MB)

    <div class="example-button-row">
      <button mat-fab (click)="deleteFile(node.filePath)" aria-label="Delete file">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-button (click)="openDialog(node.filePath)">Edit Content</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <mat-icon matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
    </mat-icon>
    {{ node.name }}

    <div class="example-button-row">
  <button mat-raised-button (click)="setSelectDirectory(node)">Create file</button>

  <form *ngIf="selectedNode === node" class="example-form">
    <mat-form-field>
      <mat-label>File Name</mat-label>
      <input matInput [(ngModel)]="newFileName" name="fileName" placeholder="Enter file name">
    </mat-form-field>

    
    <mat-form-field>
      <mat-label>File Type</mat-label>
      <mat-select [(ngModel)]="selectedFileType" name="fileType">
        <mat-option *ngFor="let file of fileTypes" [value]="file.value">
          {{file.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>File Content</mat-label>
      <input matInput [(ngModel)]="newFileContent" name="fileContent" placeholder="Enter file content">
    </mat-form-field>

    <button mat-raised-button (click)="createFile(node.filePath)">Save</button>
  </form>
</div>

  </mat-tree-node>

</mat-tree>